body{
  height: 100%;
  margin:0;
  background-color:$cream;
}

.p-section{
  padding: 40px 0;
}

.anchor{
  position: absolute;
  margin-top: -150px;
}

img{
  max-width: 100%;
}

hr{
  margin:2em 0;
  border: 1px solid $black;
}

table{
  width:100%;
}

.rounded{
  border-radius: 100%;
}