
$red:       #D14334;
$orange:    #f79441;
$yellow:	#ffc738;
$green:		#B3E099;
$blue:      #028F76;
$darkBlue:	#13747D;
$gray:      #9D968D;
$black:     #1C2130;
$white:     #FFFFFF;
$cream:		#FFEAAD;

.color--red{
  color: $red;
}

.color--orange{
  color: $orange;
}

.color--yellow{
  color: $yellow;
}

.color--blue{
  color: $blue;
}

.color--green{
  color: $green;
}

.color--white{
  color: $white;
}

.color--gray{
  color: $gray;
}

.color--black{
  color: $black;
}
