
$blue:      #22becc;
$red:       #DF314D;
$orange:    #f79441;
$gray:      #9D968D;
$black:     #040404;
$white:     #fff;
$green:		#91c382;
$yellow:	#ffc738;

.color--red{
  color: $red;
}

.color--orange{
  color: $orange;
}

.color--blue{
  color: $blue;
}

.color--green{
  color: $green;
}

.color--white{
  color: $white;
}

