
$red:       #DF314D;
$orange:    #f79441;
$yellow:	#ffc738;
$green:		#91c382;
$blue:      #22becc;
$gray:      #9D968D;
$black:     #2E2513;
$white:     #FFFFFF;
$cream:		#FFF9EC;

.color--red{
  color: $red;
}

.color--orange{
  color: $orange;
}

.color--yellow{
  color: $yellow;
}

.color--blue{
  color: $blue;
}

.color--green{
  color: $green;
}

.color--white{
  color: $white;
}

.color--gray{
  color: $gray;
}

.color--black{
  color: $black;
}
