$heroHeight: 500px;
$heroMobile: 400px;

.parallax {
  	background-position: 50% 50%;
	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover; 	
}

.bigHero {
	height: $heroHeight;
	background-image: url("../images/work/America.jpg");
}

.smallHero {
	height: $heroHeight/2;
	background-image: url("../images/silly.jpg");
}

@media (max-width: 768px) {
	.bigHero {
		height: $heroMobile;
	}
	.smallHero {
		height: $heroMobile/2;
	}
}