$heroHeight: 500px;
$heroMobile: 400px;

.parallax {
  	background-position: 50% 50%;
	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover; 	
}

.homeHero {
	height: $heroHeight;
	background-image: url("../images/America.jpg");
}

@media (max-width: 768px) {
	.homeHero {
		height: $heroMobile;
	}
}