---
component: footer
---
<!-- Footer component
================================================== -->

<footer class="footer navbar navbar-fixed-bottom">
	<div class="container">
		<ul>
			<li><a href="\compsci.html">Comp Sci</a></li><!--
			--><li><a href="\design.html">Design</a></li><!--
			--><li><a href="\photography.html">Photography</a></li><!--
			--><li><a href="\contact.html">Contact Me</a></li>
		</ul>
	</div> 
</footer>