---
component: footer
---
<!-- Footer component
================================================== -->

<footer class="footer navbar navbar-fixed-bottom">
	<div class="container">
		<ul>
			<li>
				<a href="\index.html">
					<svg class="icon">
					  <image xlink:href="../images/home.svg" src="../images/menu-icon.png" alt="Home" class="icon shape-home" width="45" height="45" />
					</svg>
					Home
				</a>
			</li>{{~#withSort pages "data.sort" dir="asc"~}}{{~#is data.section "homepage"~}}<li>
						<a href="{{relative ../../page.dest this.dest}}">
							<svg class="icon">
							  <image xlink:href="../images/{{data.title}}.svg" alt="Work" src="../images/menu-icon.png" width="45" height="45" />
							</svg>
							{{data.title}}
						</a>
					</li>{{/is}}{{/withSort}}</ul>
	</div> 
</footer>