---
component: navbar
---
<!-- Navbar component
================================================== -->
<header class="nav">
	<div class="container"><a href="index.html" class="logo">Camila Carvajal</a>
		<ul>
			<li><a href="\development.html">Development</a></li><!--
			--><li><a href="\design.html">Design</a></li><!--
			--><li><a href="\contact.html">Contact Me</a></li>
		</ul>
	</div> 
</header>
