---
title:      Contact
section:    homepage
type:       subpage
sort:		3
---
<section class="smallHero parallax smallVerticalCenter">
	<h1 class="text--center color--yellow">Say hello!</h1>
</section>

<section class="p-section">
	<div class="container">
		<div class="bubble">
			<h2>
				Currently <em>looking</em> for exciting front end opportunities
			</h2>
		</div>
	</div>	
</section>

<section class="">
	<a href="mailto:contact@camilacarvajal.com"><div class="contactBox">
		<h2>
			Say hi!
		</h2>				
			<svg class="icon">
				<image xlink:href="../images/contact.svg" src="../images/menu-icon.png" alt="contact" class="icon shape-contact" width="70" height="70" />
			</svg>
		contact@camilacarvajal.com
	</div></a><a href="tel:2094237240"><div class="contactBox">
		<h2>
			Give me a Ring!
		</h2>
		<svg class="icon">
			<image xlink:href="../images/home.svg" src="../images/menu-icon.png" alt="contact" class="icon shape-contact" width="70" height="70" />
		</svg>
		209.423.7240
	</div></a><a href="https://www.linkedin.com/in/camilacarvajal"><div class="contactBox">
		<h2>
			Let's Connect!
		</h2>
		<svg class="icon">
			<image xlink:href="../images/contact.svg" src="../images/menu-icon.png" alt="contact" class="icon shape-contact" width="70" height="70" />
		</svg>
		Linked In Profile
	</div></a>
</section>