---
title:      Development
section:    homepage
type:       subpage
---
<section class="canvas">
	<div id="behind">
		<canvas id="grass"></canvas>
	</div>

	<div id="dusk"> </div>

	<div id="verticalCenter">
		<div id="Name">Development
		    <div id="Info">- Crafting Experiences -</div>
		</div>
	</div>
</section>

<section class="p-section">
	<div class="container">
		<h1>Development</h1>
		<p>
			I studied Computer Science for 4 years at University of the Pacific where I learned C++
		</p>
	</div>
</section>

<section class="p-section">
	<div class="container"><div class="row">
		<div class=" .col-xs-4">Hello I am a Third</div>
		<div class=" .col-xs-4" style="background:red">Hello I am a Third</div>
		<div class=" .col-xs-4" style="background:red">Hello I am a Third</div>
		</div></div>
</section>