---
title:      Development
section:    homepage
type:       subpage
---
<section class="canvas">
	<div id="behind">
		<canvas id="grass"></canvas>
	</div>

	<div id="dusk"> </div>

	<div id="verticalCenter">
		<div id="Name">Development
		    <div id="Info">- Crafting Experiences -</div>
		</div>
	</div>
</section>

<section class="p-section">
	<div class="container">
		<h1>Filterable Design Portfolio</h1>
			<p data-height="268" data-theme-id="0" data-slug-hash="mrIaJ" data-default-tab="result" data-user="milabear" class='codepen'>See the Pen <a href='http://codepen.io/milabear/pen/mrIaJ/'>Responsive Gallery w/ pure CSS Lightbox (WIP)</a> by Camila A Carvajal (<a href='http://codepen.io/milabear'>@milabear</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
		<h1>Canvas Platformer</h1>	
			<p data-height="268" data-theme-id="0" data-slug-hash="ndqJi" data-default-tab="result" data-user="milabear" class='codepen'>See the Pen <a href='http://codepen.io/milabear/pen/ndqJi/'>Simple Platformer</a> by Camila A Carvajal (<a href='http://codepen.io/milabear'>@milabear</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
		<h1>Pure Css Animation</h1>	
			<p data-height="268" data-theme-id="0" data-slug-hash="mJeFG" data-default-tab="result" data-user="milabear" class='codepen'>See the Pen <a href='http://codepen.io/milabear/pen/mJeFG/'>Reading Mini Me!</a> by Camila A Carvajal (<a href='http://codepen.io/milabear'>@milabear</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
	</div>
</section>