---
title:      Home page
lead:       blah blah
sort:       0
---

<section class="homeHero parallax verticalCenter">
	<h1 class="text--center color--white">Why, Hello there!</h1>
</section>

<section class="home p-section">
	<div class="container">

		<p>
			My name is Camila. I am a programer and designer looking to make a beautiful impact on the world of technology. <br><br>

			So far I've fully developed websites on multiple platforms, quality tested GPUs, designed video games from the ground up, and worked with hundreds of talented people. Still I have a strong thirst for knowledge and enjoy learning about game design, software engineering, graphic design practices, UI/UX, animation and above all, people. <br><br>

			I crave a dynamic environment and thrive on short term projects with a goal oriented team. I love developing with an inspired group of people with varying ideas that I can build off of and help refine into unique and useful projects.<br><br>

			Above all I strive to find the best in function AND form which I believe produces the highest quality products.<br><br>

			Please contact me through email <a href="mailto:CamilaCarvajalw@gmail.com">CamilaCarvajalw@gmail.com</a>
		</p>
	</div>	
</section>