---
title:      Home page
lead:       Welcome!
sort:       0
---

<!--<section class="homeHero parallax verticalCenter">
	<h1 class="text--center color--white">Why, Hello there!</h1>
</section>!-->
<section class="canvas">
	<div id="behind">
		<canvas id="grass"></canvas>
	</div>

	<div id="dusk"> </div>

	<div id="verticalCenter">
		<div id="Name">Why, Hello There!
		    <!--<div id="Info"> - Crafting Experiences - </div>!-->
		</div>
	</div>
</section>

<section class="home p-section">
	<div class="container">
		<div class="bubble">
			<img src="../images/a.jpg" alt="Camila's Portrait" class="rounded">
			<p>
				My name is Camila. I am a programer and designer looking to make a beautiful impact on the world of technology. <br><br>

				So far I've fully developed websites on multiple platforms, quality tested GPUs, designed video games from the ground up, and worked with hundreds of talented people. Still I have a strong thirst for knowledge and enjoy learning about game design, software engineering, graphic design practices, UI/UX, animation and above all, people. <br><br>

				I crave a dynamic environment and thrive on short term projects with a goal oriented team. I love developing with an inspired group of people with varying ideas that I can build off of and help refine into unique and useful projects.<br><br>

				Above all I strive to find the best in function AND form which I believe produces the highest quality products.<br><br>

				Please contact me through email <a href="mailto:contact@camilacarvajal.com">contact@camilacarvajal.com</a>
			</p>
		</div>
	</div>	
</section>