---
title:      Resume
section:    homepage
type:       subpage
sort:		2
---

<section class="p-section">
	<div class="container">
		<h2>Resume</h2>
		<p>
			<a href="mailto:contact@camilacarvajal.com">contact@camilacarvajal.com</a><br>
			(209) 423 - 7240
		</p>
	</div>
</section>