---
title:      Work
section:    homepage
type:       subpage
sort:		1
---
<section class="bigHero parallax verticalCenter">
	<h1 class="text--center color--white">Work</h1>
</section>

<section class="p-section">
	<div class="container">
		<div class="work photo">
			<img src="../images/work/main_career.jpg" alt="Fyber Career Pages">
			<p>Fyber Career Pages</p>
		</div>

		<div class="work photo">
			<img src="../images/work/platformer.jpg" alt="Canvas Platformer">
			<p>Canvas Platformer</p>	
		</div>

		<div class="work lastWork photo">
			<img src="../images/work/portfolio.jpg" alt="Filterable Portfolio">
			<p>Filterable Design Portfolio</p>
		</div>

		<div class="work photo">
			<img src="../images/work/css_animation.jpg" alt="Css Animation">
			<p>Pure Css Animation</p>	
		</div>
	</div>
</section>